container {
    padding: 50px 10%;
}
body{
    background-color: black;
}
.box {
    position: relative;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #000000;
    color: #000000;
    position: relative;
    height: 150px;
    border-radius: 3rem;
    background: #B6F406;
    width: 390px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50px;
    font-size: 16px;
}

.border-st {
    border-style:solid;
    border-color: black;
}

.rounded-class {

    border-radius: 1.6rem;
}

.bg-error {
    background-color: #FFBEAA;
}

.bg-success-custom {
    background-color: #0f6387;
}

.progress-error {
    background-color: #871010;
}

.txt-error {
    font-weight: 700;
    color: #871010;
}

.m-top {
    margin-top: -1rem;
}
.m-top-c {
    margin-top: -2rem;
}

.font-med {
    font-size: 1.8rem;
}

.font-small {
    font-size: 1.4rem;
}

.font-xs {
    font-size: 2.5rem;
}

.bg-color-purple {
    background-color: #871074;
}
.btn-danger-new{
    background-color: chartreuse;
}
.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.btn-primary {
    background-color: crimson;
    border: 1px solid #212121;
}